@import 'normalize.css';

:root{
    // color
    --primary: #f0d8b3;
    --white: #fff;
    --text-color: #333;

    // icon
    --default-icon-width: 25px;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    font-family:Arial, Helvetica, sans-serif;
    text-rendering: optimizeSpeed;
    background-color: var(--primary);
    padding: 10px;
}

a[href]{
    color: var(--text-color);
    text-decoration: none;
}