.line {
    width : 100%;
    margin: 0px 20px;
}

.button-actions {
    margin         : 20px 0px 20px 0px;
    display        : flex;
    flex-wrap      : wrap;
    gap            : 10px;
    justify-content: space-between;

    .crud {
        display        : flex;
        gap            : 10px;
        flex-wrap      : wrap;
        justify-content: center;
    }

    .crud {
        button {
            width    : 100px;
            font-size: 14px;
        }
    }

    @media (max-width: 768px) {

        .crud,
        .other-action {
            width          : 100%;
            justify-content: space-around;
        }
    }
}